.text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:300px) {
    .text-content {
        width: 200px;
        text-align: center;
    }
}