.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.App>nav>ul {
  display: flex;
  justify-content: space-between;
}

.App>nav>ul>li {
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todolist-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.complete-item {
  text-decoration: line-through
}

.generator-box {
  display: flex;
  margin-bottom: 10px;
}

@media screen and (min-width:300px) {
  #inputContent {
    width: 300px;
  }
  .App>nav {
    width: 300px;
  }

  .donelist-title {
    width: 300px;
  }
}

@media screen and (max-device-width:300px) {
  .App>nav {
    width: 280px;
  }

  .donelist-title {
    width: 260px;
  }

  #inputContent {
    width: 200px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}